<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmy.dao.admin.StudentDao">

    <!--<resultMap id="studentMap" type="Student">-->
        <!--<id column="student_Id" property="studentId"/>-->
        <!--<result column="student_Name" property="studentName"/>-->
        <!--<result column="student_Sex" property="studentSex"/>-->
        <!--<result column="student_Phone" property="studentPhone"/>-->
        <!--<result column="student_IdNum" property="studentIdNum"/>-->

        <!--<association property="studentClazz" javaType="Clazz">-->
            <!--<id column="clazz_id" property="clazzId"/>-->
            <!--<result column="clazz_name" property="clazzName"/>-->
            <!--<result column="grade_Name" property="gradeName"/>-->
            <!--<association property="clazzInstructor" javaType="Staff">-->
                <!--<id column="staff_Id" property="staffId"/>-->
                <!--<result column="staff_Name" property="staffName"/>-->
                <!--<result column="staff_Sex" property="staffSex"/>-->
                <!--<result column="staff_Phone" property="staffPhone"/>-->
                <!--<result column="staff_IdNum" property="staffIdNum"/>-->
                <!--<result column="staff_Address" property="staffAddress"/>-->
            <!--</association>-->
        <!--</association>-->

        <!--<association property="studentMajor" javaType="Major">-->
            <!--<id column="major_Id" property="majorId"/>-->
            <!--<result column="major_Name" property="majorName"/>-->
            <!--<result column="major_SchoolSystem" property="majorSchoolSystem"/>-->
        <!--</association>-->
        <!--<association property="studentDormitory" javaType="Dormitory">-->
            <!--<id column="dormitory_Id" property="dormitoryId"/>-->
            <!--<result column="dormitory_Name" property="dormitoryName"/>-->
            <!--<result column="dormitory_PeoNum" property="dormitoryPeoNum"/>-->
            <!--<association property="dormitoryBuilding" javaType="DormitoryBuilding">-->
                <!--<id column="dormiBuil_Id" property="dormiBuilId"/>-->
                <!--<result column="dormiBuil_Name" property="dormiBuilName"/>-->
                <!--<association property="dormiBuilManager" javaType="Staff">-->
                    <!--<id column="staff_Id" property="staffId"/>-->
                    <!--<result column="staff_Name" property="staffName"/>-->
                    <!--<result column="staff_Sex" property="staffSex"/>-->
                    <!--<result column="staff_Phone" property="staffPhone"/>-->
                    <!--<result column="staff_IdNum" property="staffIdNum"/>-->
                    <!--<result column="staff_Address" property="staffAddress"/>-->
                <!--</association>-->
            <!--</association>-->
        <!--</association>-->

        <!--<collection property="studentSubjectList" ofType="Subject">-->
            <!--<id column="subject_Id" property="subjectId"/>-->
            <!--<result column="subject_Name" property="subjectName"/>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--<select id="selectMaxId" resultType="java.lang.Integer">-->
        <!--select NVL(MAX(STUDENT_ID),0)+1 from EAS_STUDENT-->
    <!--</select>-->

    <!--<insert id="insertStudent" parameterType="Student">-->
        <!--insert into EAS_STUDENT values-->
        <!--(#{studentId},#{studentName},#{studentSex},#{studentPhone},#{studentIdNum},#{studentClazz.clazzId},#{studentMajor.majorId},#{studentDormitory.dormitoryId})-->
    <!--</insert>-->

    <!--<update id="updateStudent" parameterType="Student">-->
        <!--update EAS_STUDENT-->
        <!--<set>-->
            <!--<if test = 'studentName != null and studentName != "" '>-->
                <!--student_Name = #{studentName},-->
            <!--</if>-->
            <!--<if test = 'studentSex != null and studentSex != "" '>-->
                <!--student_Sex = #{studentSex},-->
            <!--</if>-->
            <!--<if test = 'studentPhone != null and studentPhone != "" '>-->
                <!--student_Phone = #{studentPhone},-->
            <!--</if>-->
            <!--<if test = 'studentClazz != null and studentClazz.clazzId != null and studentClazz.clazzId != "" '>-->
                <!--student_ClazzId = #{studentClazz.clazzId},-->
            <!--</if>-->
            <!--<if test = 'studentMajor != null and studentMajor.majorId != null and studentMajor.majorId != "" '>-->
                <!--student_MajorId = #{studentMajor.majorId},-->
            <!--</if>-->
            <!--<if test = 'studentDormitory != null and studentDormitory.dormitoryId != null and studentDormitory.dormitoryId != "" '>-->
                <!--student_DormitoryId = #{studentDormitory.dormitoryId}-->
            <!--</if>-->
        <!--</set>-->
        <!--<trim prefix="where" suffixOverrides="and||or" prefixOverrides="and||or">-->
            <!--student_id = #{studentId}-->
        <!--</trim>-->
    <!--</update>-->

    <!--<delete id="deleteStudent" parameterType="java.lang.Integer">-->
        <!--delete from EAS_STUDENT where STUDENT_ID = #{studentId}-->
    <!--</delete>-->

    <!--<select id="selectStudent" parameterType="Student" resultMap="studentMap">-->
        <!--select * from EAS_STUDENT s-->
        <!--inner join EAS_CLAzz c on s.CLAZZ_ID = c.CLAZZ_ID-->
        <!--inner join EAS_MAJOR m on s.MAJOR_ID = m.MAJOR_ID-->
        <!--inner join EAS_DORMITORY d on s.DORMITORY_ID = d.DORMITORY_BUILDING_ID-->
        <!--inner join EAS_DORMITORYBUILDING db on d.DORMITORY_BUILDING_ID = db.DORMITORY_BUILDING_ID-->
        <!--left join EAS_STUDENT_SUBJECT_REL ss on s.STUDENT_ID = ss.STUDENT_ID-->
        <!--left join EAS_SUBJECT su on ss.SUBJECT_ID = su.SUBJECT_ID-->
        <!--<trim prefix="where" suffixOverrides="and||or" prefixOverrides="and||or">-->
            <!--<if test = 'studentId != null and studentId != "" '>-->
                <!--s.student_id = #{studentId} and-->
            <!--</if>-->
            <!--<if test = 'studentName != null and studentName != "" '>-->
                <!--student_Name = #{studentName} and-->
            <!--</if>-->
            <!--<if test = 'studentSex != null and studentSex != "" '>-->
                <!--student_Sex = #{studentSex} and-->
            <!--</if>-->
            <!--<if test = 'studentPhone != null and studentPhone != "" '>-->
                <!--student_Phone = #{studentPhone} and-->
            <!--</if>-->
            <!--<if test = 'studentClazz != null and studentClazz.clazzId != null and studentClazz.clazzId != "" '>-->
                <!--student_ClazzID = #{studentClazz.clazzId} and-->
            <!--</if>-->
            <!--<if test = 'studentMajor != null and studentMajor.majorId != null and studentMajor.majorId != "" '>-->
                <!--student_MajorId = #{studentMajor.majorId} and-->
            <!--</if>-->
            <!--<if test = 'studentDormitory != null and studentDormitory.dormitoryId != null and studentDormitory.dormitoryId != "" '>-->
                <!--student_DormitoryId = #{studentDormitory.dormitoryId}-->
            <!--</if>-->
        <!--</trim>-->
        <!--order by s.STUDENT_ID-->
    <!--</select>-->

    <!--<select id="selectAllStudent" resultMap="studentMap">-->
        <!--select * from EAS_STUDENT s-->
        <!--inner join EAS_CLAZZ c on s.CLAZZ_ID = c.CLAZZ_ID-->
        <!--inner join EAS_MAJOR m on s.MAJOR_ID = m.MAJOR_ID-->
        <!--inner join EAS_DORMITORY d on s.DORMITORY_ID = d.DORMITORY_BUILDING_ID-->
        <!--inner join EAS_DORMITORYBUILDING db on d.DORMITORY_BUILDING_ID = db.DORMITORY_BUILDING_ID-->
        <!--left join EAS_STUDENT_SUBJECT_REL ss on s.STUDENT_ID = ss.STUDENT_ID-->
        <!--left join EAS_SUBJECT su on ss.SUBJECT_ID = su.SUBJECT_ID-->
        <!--order by s.STUDENT_ID-->
    <!--</select>-->

</mapper>